@media (max-width: 1200px) {
  content {
    margin-right: 15px;
    width: 395px;
  }
  /* .container {
    width: 90%;
  } */
}

@media (max-width: 1060px) {
  .content {
    width: 340px;
  }
  .mySwiper2 img {
    object-fit: fill;
  }
}
@media (max-width: 992px) {
  .page-content {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    margin-left: 0;
  }
  .sidebar a {
    display: inline;
    margin-right: 10px;
  }
  .content {
    width: 395px;
  }
  .main-single {
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  /* .main-single {
    flex-direction: column;
  } */
  .content {
    width: 300px;
    margin-right: 15px;
  }
  .author {
    min-width: 240px;
  }
  .container {
    width: 90%;
  }
  .button-block {
    margin-bottom: 20px;
  }
}
